.user-list {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  
  margin: 0;  
  padding: 0;
  list-style: none;
}

.user-list__item {
  position: relative;
  // width: 31%;
  width: 200px;
  height: 250px;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

.user-list__heading {
  position: absolute;
  bottom: 20px;
  left: 12px;
  margin: 0;
  padding: 2px 8px 2px 8px;

  font-size: 1.1rem;
  color: white;
  background-color: #e28086;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.4);
  border-radius: 3px;

  &--male {
    background-color: darken(#93d8e4, 10%);
  }
}

.user-list__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .user-list__item {
    width: 180px;
    height: 225px;
  }
}

@media (max-width: 1000px) {
  .user-list__item {
    width: 160px;
    height: 200px;
  }
}
