.nav-main__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-right: 30px;
  }
}

.nav-main__list li:first-child {
  margin-right: 20px;
}

.nav-main__link {
  display: block;
  width: 20vw;
  max-width: 300px;
  min-width: 220px;
  background-color: snow;
  border-radius: 10px;
 
  &--inner {
    width: 50px;
  }

  &:hover {
    transform: scale(1.05);
    color: black;
    background-color: beige;
  }

  &--profile {
    width: auto;
    max-width: auto;
    min-width: auto;
    margin: 0;
    padding: 0 12px 4px 14px;

    background-color: transparent;
    font-size: 1.3rem;
    color: white;
    border-radius: 4px;
  }

  &--current {
    color: black;
    background-color: beige;
  }
}

.nav-main__female,
.nav-main__male {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  padding: 40px;
}
