.page-header {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 1000px;
  min-width: 750px;

  margin: 0 auto;

  &--inner {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 16px 18px 12px 18px;

    background-color: DarkSlateBlue;
    border-radius: 4px;
  }
}

.page-header__logo {
  display: block;
  margin: 0;
  padding: 0;
  padding: 2px 10px 2px 10px;
  
  font-size: 3rem;
  text-align: center;
  color: white ;
  border-radius: 4px;

  &--inner {
    font-size: 1.4rem;
  }

  &:hover {
    color: black;
    background-color: beige;
  }
}

.page-header__slogan,
.page-header__text {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 1.4rem;
  text-align: center;
  color: white;

  &--inner {
    display: none;
  }
}

.page-header__text {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}