.form-profile__group {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  border: none;
}

.form-profile input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + label::before {
    background-image: url('/img/radio_checked.svg');
  }
}

.form-profile input[type='text'],
.form-profile input[type='number'] {
  padding: 4px 8px 4px 8px;
  font-size: 1.2rem;
}

.form-profile__legend {
  display: block; 
  margin-bottom: 5px;
  padding: 0;

  font-weight: 700;
  font-size: 1.2rem;
  white-space: normal;
}

.form-profile label {
  position: relative;
  margin-bottom: 4px;
  padding-left: 34px;
  font-size: 1.2rem;

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 30px;
    height: 30px;

    background-image: url('/img/radio_unchecked.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form-profile__create-btn {
   width: 227px;
   padding: 8px 8px 8px 8px;
    
   background-color: darkslateblue;
   font-size: 1.2rem;
   color: white;
   border-radius: 5px;
   border: none;
   
   &:hover {
    transform: scale(1.05);
    background-color: darkgreen;
   }

   &:active {
     outline: none;
    transform: scale(1);
    background-color: darkslateblue;
   }
}
