.user-info {
  width: 20vw;
  max-width: 180px;
  min-width: 130px;
  padding-left: 12px;

  font-size: 1.2rem;
  text-align: left;
}

.user-info th {
  text-align: left;
}

.user-info__data {
  padding: 8px;
  background-color: #7ad0df;
  font-weight: 700;

  &--female {
    background-color: #dd636e;
  }
}
