.user-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  
  width: 55vw;
  max-width: 800px;
  min-width: 350px;
  margin: 0;  
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.user-list__item {
  position: relative;
  width: 260px;
  height: 325px;
  margin-right: 0.5%;
  margin-bottom: 0.5%;
}

.user-list__heading {
  position: absolute;
  bottom: 20px;
  left: 12px;
  margin: 0;
  padding: 2px 8px 2px 8px;

  font-size: 1.1rem;
  color: white;
  background-color: #e28086;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.4);
  border-radius: 3px;

  &--male {
    background-color: darken(#93d8e4, 10%);
  }
}

.user-list__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .user-list__item {
    width: 230px;
    height: 287.5px;
  }
}

@media (max-width: 1300px) {
  .user-list__item {
    width: 200px;
    height: 250px;
  }
}

@media (max-width: 1100px) {
  .user-list__item {
    width: 160px;
    height: 200px;
  }

  .user-list__heading {
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .user-list__item {
    width: 130px;
    height: 162.5px;
  }
}