.form-filters {
  width: 120px;
  margin-left: auto;
  margin-right: 8px;
  padding: 20px;

  background-color: whitesmoke;
  border-radius: 5px;
}

.form-filters__group {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.form-filters__heading {
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;

  font-size: 1.4rem;
  text-align: center;
}

.form-filters__legend {
  display: block; 
  margin-bottom: 8px;
  padding: 0;

  font-weight: 700;
  font-size: 1.2rem;
  white-space: normal;
}

.form-filters__wrapper {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  &--age {
    // outline: 1px solid red;
    display: flex;
    justify-content: space-between;

    width: 80%;
    margin-bottom: 6px;
  }
}

.form-filters input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + label::before {
    background-image: url('/img/checkbox_checked.svg');
  }
}

.form-filters input[type='number'] {
  font-size: 0.9rem;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 2px 2px black;

  &:focus {
    outline: none;
  }
}

.form-filters__label {
  position: relative;
  margin-bottom: 6px;
  padding-left: 50px;
  font-size: 1.2rem;
  
  &--age {
    margin-right: 20px;
    padding-left: 14px;
  }

  &--age::before {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 10px;
    width: 32px;
    height: 32px;
     
    background-image: url('/img/checkbox_unchecked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
