.form-profile__group {
  display: flex;
  flex-direction: column;
}

.form-profile input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}