.form-pm__messages-list {
  display: block;
  width: 300px;
  height: 60px;
  background-color: white;
  overflow: hidden;
}

.form-pm__message-input {
  width: 250px;
  height: 40px;
  background-color: white;
}