// .nav-main {
//   outline: 2px solid black;
//   // width: 70vw;
//   // max-width: 1000px;
//   // min-width: 750px;

//   // margin: 0 auto;

// }

.nav-main__list {
  display: flex;
  justify-content: center;

  &:first-child {
    margin-right: 30px;
  }
}

.nav-main__item {
  outline: 2px solid black;
  width: 22vw;
  max-width: 300px;
 
  &--inner {
    width: 50px;
  }

  &:first-child {
    margin-right: 20px;
  }
}

.nav-main__female,
.nav-main__male {
  position: relative;
  display: block;
  padding: 40px;

  // &::before {
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   color: white;
  // }
}

// .nav-main__female::before {
//   content: 'Female';
// }
