.user-page {
  width: 70vw;
  max-width: 1000px;
  min-width: 750px;

  margin: 0 auto;
}

.user-page__wrapper {
  outline: 2px solid black;
  display: flex;

  &--info {
    outline: 2px solid red;
    flex-direction: column;
    flex-grow: 1;
  }

  &--image {
    position: relative;
    flex-wrap: wrap;
    width: 30vw;
    max-width: 300px;
    min-width: 150px;
  }

  &--interactions {
    position: relative;
    flex-grow: 1;
  }
}


.user-page__image {
  position: relative;
  width: 30vw;
  max-width: 300px;
  min-width: 150px;

  margin: 0 auto;
  margin-bottom: 12px;
}

.user-page__user-name {
  margin: 0;
  padding: 4px 12px 4px 12px;

  font-size: 1.6rem;
}
